.text_red{
    color: red;
}
.text_underline{
    text-decoration: underline yellow;
}

.back_ground{
    background-image: url(https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg);
    background-repeat: no-repeat;
}




